
  .appear{
    opacity:0;
    transform: scale(0.1);
    transform: translateX(100%);
  }

  .appearActive{
    opacity:1;
    transform: translateX(0);
    transform: scale(1);
    transition: all 250ms linear;
  }

  .appearDone{
    opacity:1;
    transform: scale(1.2);
    transition: all 500ms linear;
  }

