.enter {
  transform: translateX(-100%);
}

.enterActive{
  transform: transformX(0);
  transition: all 250ms linear;
}

.exit{
  transform: transformX(0);
}

.exitActive{
  transform: translateX(-100%);
  transition: all 250ms linear;

}
